// Colors
$white: #ffffff;
$black: #000000;
$background: #1f1f1f;
$gray: #aaaaaa;

// Size
$menu-compensation: 10em;
$menu-closed: 7.5em;
$menu-opened: 18em;
$slider-track: ($menu-compensation - $menu-closed) + $menu-compensation;
$thumb-size: 21.25%;
