.menu {
	position: fixed;
	background: #000000;
	width: $menu-closed;
	@include transition(width .2s ease-in);
	overflow: hidden;
	z-index: 10;
	&.menu--open {
		width: $menu-opened;
		li {
			span {
				margin-left: 2.25em;
				opacity: 1;
				width: auto;
			}
		}
	}
	ul {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	li {
		a {
			display: flex;
			align-items: center;
			padding: 2.5em 3em;
			height: 3.5em;
			color: $white;
			font-size: 1em;
			opacity: 0.5;
			&.active {
				opacity: 1;
			}
			&.hover {
				opacity: 1;
				background: $white;
				color: $black;
				svg {
					fill: $black;
				}
			}
		}
		svg {
			width: 1.35em;
			fill: $white;
			position: absolute;
		}
		span {
			@include transition(opacity .9s ease, width .9s ease);
			white-space: nowrap;
			font-size: 1.1em;
			opacity: 0;
			width: 0;
			overflow: hidden;
		}
	}
}
