.slider {
	position: relative;
	z-index: 5;
	margin-left: $menu-compensation;
	opacity: 0.45;
	&.slider--focus {
		opacity: 1;
	}
	&__header {
		margin-bottom: 1.3em;
	}
	&__content {
		position: relative;
		max-width: calc(100vw - #{$slider-track});
		&-selected {
			position: absolute;
			width: $thumb-size;
			height: 100%;
			z-index: 5;
			top: 0;
			left: 0;
			border: 0.25em solid $white;
		}
	}
	&__track {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 3em;
		@include transition(all .3s ease);
		.thumb {
			flex-shrink: 0;
			margin-right: 1%;
			width: $thumb-size;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
